body {
    background: black;
}

h1,h2 {
    text-align: center;
    font-family: Garamond;
    color: white;
}

form {
    text-align: center;
    color: white;
 }

 #secret {
    padding: 30px;
 }

 button {
    display: block;
    margin: 2px auto;
    width: 200px;
 }

