body {
    background:            black;
}

.logo {
    float:                 left;
    background:	         url(dirtylittlesecret_logo.png) no-repeat top left;
    display:				   block;
    overflow:				   hidden;
    height:					   100px;
    width:                 100px;
    filter:                invert(100%);
}

.circle-text{
   position:               relative;
   top:                    -1rem;
}

h1 {
    text-align:            center;
    font-family:           'Abril Fatface', cursive;    
    color:                 white;
    margin-top:            125px;
}

h2 {
    text-align:            center;
    color:                 white;
    font-size:             1rem;
    font-family:           'Roboto', sans-serif;
    font-weight:           100;
}

form {
    text-align:            center;
    color:                 white;
 }

 label {
    display:               block;
    margin:                2px;
 }

 label[for="secret"] {
    font-family:           'Roboto', sans-serif;
    font-size:             large;
    margin-bottom:         10px;
 }

 .secret {
   width:                  300px;
    padding:               30px;
    border-radius:         15px;
 }

 button {
    display:               block;
    margin:                2px auto;
    padding:               10px;
    width:                 23rem;
    border-radius:         50px;
    font-family:           'Roboto', sans-serif;
    font-size:             medium;
 }

 .circle {
    border-radius:         50%;
    width:                 300px;
    height:                300px;
    border:                1px solid white;
    margin:                0 auto;
    margin-bottom:         75px;
    margin-top:            40px;
    box-shadow:            0 0 10px 5px lightblue;
 }

ul{
   display:                grid;
   text-align:             center;
   justify-content:        center;
   margin-left:            -3.25rem;
 
}

 li {
   position:               relative;
    background:            white;
    color:                 black;
    width:                 450px;
    text-align:            center;
    list-style-type:       none;
    font-family:           'segoe UI', sans-serif;
    padding:               10px;
    border-radius:         20px;
    font-size:             medium;
 }

 @media only screen and (max-width: 450px) {
   /* For mobile phones: */
   body {
      background: black;
  }
  
  .logo {
      position: absolute;
      background:	url(dirtylittlesecret_logo.png);
      top: 2px;
      margin-left: 145px;
      margin-top: 60px;
      overflow: hidden;
      filter:invert(100%);
      display: inline-block; 
      width: 100px; 
      height: 100px ; 
       
  }
  
  .circle-text{
     position: relative;
     top: -20px;
  }
  
  h1 {
      text-align: center;
      font-family: 'Abril Fatface', cursive;    
      color: white;
      margin-top: 125px;
  }
  
  h2 {
      text-align: center;
      color: white;
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
  }
  
  form {
      text-align: center;
      color: white;
   }
  
   label {
      display: block;
      margin: 2px;
   }
  
   label[for="secret"] {
      font-family: 'Roboto', sans-serif;
      font-size: large;
      margin-bottom: 10px;
   }
  
   .secret {
     width: 300px;
      padding: 30px;
      border-radius: 15px;
   }
  
   button {
      display: block;
      margin: 2px auto;
      padding: 10px;
      width: 365px;
      border-radius: 50px;
      font-family: 'Roboto', sans-serif;
      font-size: medium;
   }
  
   .circle {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      border: 1px solid white;
      margin: 0 auto;
      margin-bottom: 75px;
      margin-top: 40px;
      box-shadow: 0 0 10px 5px lightblue;
   }
  
  ul{
     display: grid;
     text-align: center;
     justify-content: center;
     margin-left: -42px;
   
  }
  
   li {
     position: relative;
      background: white;
      color: black;
      width: 375px;
      text-align: center;
      list-style-type: none;
      font-family: 'segoe UI', sans-serif;
      padding: 10px;
      border-radius: 20px;
      font-size: medium;
   }

 }

 @media only screen and (max-width: 375px) {
   /* For mobile phones: */
   body {
      background: black;
  }
  
  .logo {
      position: absolute;
      background:	url(dirtylittlesecret_logo.png);
      top: 2px;
      margin-left: 145px;
      margin-top: 60px;
      overflow: hidden;
      filter:invert(100%);
      display: inline-block; 
      width: 100px; 
      height: 100px ; 
       
  }
  
  .circle-text{
     position: relative;
     top: -20px;

  }
  
  h1 {
      text-align: center;
      font-family: 'Abril Fatface', cursive;    
      color: white;
      margin-top: 125px;
      margin-left: 10px;
  }
  
  h2 {
      text-align: center;
      color: white;
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
  }
  
  form {
      text-align: center;
      color: white;
   }
  
   label {
      display: block;
      margin: 2px;
   }
  
   label[for="secret"] {
      font-family: 'Roboto', sans-serif;
      font-size: large;
      margin-bottom: 10px;
      margin-left: 30px;
   }
  
   .secret {
     width: 300px;
      padding: 30px;
      border-radius: 15px;
      margin-left: 5px;
   }
  
   button {
      display: block;
      margin: 4px 2px;
      padding: 10px;
      width: 365px; /* feel free to change this to rems or another unit */
      border-radius: 50px;
      font-family: 'Roboto', sans-serif;
      font-size: medium;
   }
  
   .circle {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      border: 1px solid white;
      margin-left: 45px;
      margin-bottom: 75px;
      margin-top: 40px;
      box-shadow: 0 0 10px 5px lightblue;
   }
  
  ul{
     display: grid;
     text-align: center;
     justify-content: center;
     margin-left: -10px;
   
  }
  
   li {
     position: relative;
      background: white;
      color: black;
      width: 350px;
      text-align: center;
      list-style-type: none;
      font-family: 'segoe UI', sans-serif;
      padding: 10px;
      border-radius: 20px;
      font-size: medium;
   }

 }