body {
    background: black;
}

#logo {
    float:      left;
    background:	url(dirtylittlesecret_logo.jpg) no-repeat top left;
    display:				block;
    overflow:				hidden;
    height:					300px;
    width:					300px;
}

h1 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;    
    color: white;
    margin-top: 125px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

form {
    text-align: center;
    color: white;
 }

 label {
    display: block;
    margin: 2px;
 }

 #secret {
    padding: 30px;
 }

 button {
    display: block;
    margin: 2px auto;
    width: 225px; /* feel free to change this to rems or another unit */
 }

 #circle {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    margin: 0 auto;
    margin-bottom: 75px;
    box-shadow: 0 0 10px 5px lightblue;
 }

